/* ===================== FOND ======================= */
.fond-bleu-nuit{
    background-color: rgb(29, 48, 63);
} 

.fond-bleu-nuit-1{
    background-color: rgba(29, 48, 63, 0.897);
}

.fond-bleu-nuit-2{
    background-color: rgba(29, 48, 63, 0.692);
}

.fond-bleu-nuit-3{
    background-color: rgba(29, 48, 63, 0.445);
}

.fond-bleu-nuit-4{
    background-color: rgba(29, 48, 63, 0.336);
}

.fond-bleu-nuit-5{
    background-color: rgba(29, 48, 63, 0.137);
}


/* ===================== FOND ======================= */

/* ===================== TEXTE ======================= */
.text-grey-ks{
    color:#686868
}

/* ===================== TEXTE ======================= */