@font-face {
  font-family: "Clash Display";
  font-weight: 400;
  src: url("/fonts/ClashDisplay-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Clash Display";
  font-weight: 500;
  src: url("/fonts/ClashDisplay-Medium.woff2") format("woff2");
}

/* reset */
*,
*::after,
*::before {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font-family: inherit;
}

body {
  font-family: "Clash Display", sans-serif;
  text-rendering: optimizeSpeed;
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: inherit;
}

img,
svg {
  display: block;
  max-width: 100%;
}

ul,
li {
  list-style: none;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

/* layout */
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding-inline: 15px;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: 50px;

  .logo {
    font-weight: 500;
    font-size: clamp(22px, 4cqw, 25px);
    color: black;
  }
}

.link-items {
  display: none;
}

.menu-responsive {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  font-size: 20px;
  background: black;
  text-align: center;
  color: white;
}

.menu-responsive ul {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.mask {
  overflow: hidden;
}

.join {
  display: none;
}

.menu-open,
.menu-close {
  width: 30px;
  height: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
}

.menu-close {
  position: absolute;
  top: 0;
  right: 0;
  margin: 50px 15px;
}

.menu-open span,
.menu-close span {
  background: black;
  width: 100%;
  height: 1px;
  transition: 0.7s;
}

.menu-open span {
  background: black;
}

.menu-close span {
  background: white;
}

.menu-close span:nth-child(1) {
  transform: translateY(5px) rotate(35deg);
}

.menu-close span:nth-child(2) {
  transform: translateY(-3px) rotate(-35deg);
}

@media (width > 550px) {
  .join {
    display: inherit;
    font-size: 18px;
    font-weight: 500;
    border: 1px solid #000000;
    padding: 5px 35px;
    border-radius: 30px;
    transition: 0.5s ease;

    &:hover {
      color: white;
      background: black;
    }
  }

  .nav-right {
    display: flex;
    align-items: center;
    gap: 30px;
  }
}

@media (width > 770px) {
  .link-items {
    display: flex;
    align-items: center;
    gap: clamp(50px, 4cqw, 80px);
    color: black;

    & li a {
      display: block;
      position: relative;
      overflow: hidden;

      &::after {
        content: "";
        position: absolute;
        top: 50%;
        left: -100%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 0.1px;
        background: black;
        opacity: 0.5;
        transition: 0.5s;
      }

      &:hover::after {
        left: 50%;
      }
    }
  }

  .menu-open {
  }
}